#search_box{
	left: 300px;
	width: 700px;
	position: absolute;
	top:178px;
	height:40px;
	border-collapse:collapse;
	border-width:1px;
	line-height:100px;
	padding-right: 20px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	outline-color:#BBEDFD;
	color:#BBEDFD;
	font-size:19px;
	z-index:2;
	}
	
input {
    padding: 15px;
}

#search_button{
	left:893px;
	width: 100px;
	position: absolute;
	top:183px;
	height:30px;
	background:#BBEDFD;
	color:#FFF;
	border-style:hidden;
	z-index:2;
	}

#search_result{
	padding: 5px;
	box-shadow: 0 0 10px rgb(210, 210, 210, 210);
	background:#FFF;
	position: absolute;
	border: #003;
	left: 300px;
	top: 220px;
	width: 690px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:14px;
	opacity:.7;
	z-index:2;
	}
a{
	background:#BBEDFD;
	color:#fff;
	text-decoration:none;
	padding:3px;
	display:block;
	
	}
a:hover{
	background:#fff;
	color:#BBEDFD;
	
	}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
    }
li{
	margin:1px;
	padding:0px;
	}
#linkbox{
	border-color:#BBEDFD;
	top:70px;
	height:550px;
	width:700px;
	left:200px;
	z-index:1;
	position:relative;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	
}
#wrapper {
    width:600px; 
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#fff; 
    text-align:left; /*resets text alignment from body tag */
    border:1px solid #ccc;
    border-top:none; 
    padding:25px; 
    /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
    border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 10px 10px; 
    box-shadow:0 0 10px #ccc;
    -moz-box-shadow:0 0 10px #ccc;
    -webkit-box-shadow:0 0 10px #ccc;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
    text-align:center;
	visibility:hidden;
}

#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}
